/* import tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-viga bg-navajo-white text-liver body-scrollable;
  }

  .links-wrapper li a {
    @apply flex flex-col items-center gap-1 py-1 px-3 hover:bg-macaroni-and-cheese rounded-md duration-300;
  }

  .links-wrapper li a.router-link-exact-active {
    @apply bg-macaroni-and-cheese sm:hover:bg-mellow-apricot;
  }
}

@layer components {
  /* button styles */
  .btn {
    @apply relative py-2.5 w-full rounded-xl md:rounded-lg shadow-sm duration-200 overflow-hidden;
  }

  .btn-numbers {
    @apply bg-navajo-white outline outline-sandy-brown outline-2 -outline-offset-2;
  }

  .btn-operators {
    @apply bg-mellow-apricot;
  }

  .btn-equals {
    @apply bg-liver text-navajo-white;
  }

  .btn-clear {
    @apply bg-neon-carrot text-seal-brown;
  }

  .btn .circle {
    @apply absolute w-14 h-14 md:w-20 md:h-20 rounded-full;
    transform: translate(-50%, -50%) scale(0);
    animation: circleScaleUp 0.5s ease-out;
  }

  .btn.btn-numbers .circle {
    @apply bg-sandy-brown;
  }

  .btn.btn-operators .circle {
    @apply bg-mango-tango;
  }

  .btn.btn-clear .circle {
    @apply bg-navajo-white;
  }

  .btn.btn-equals .circle {
    @apply bg-sandy-brown;
  }
}

/* custom styles */
/* Button Ripple Effect */
@keyframes circleScaleUp {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

/* scrollbar styles */
.body-scrollable::-webkit-scrollbar {
  width: 6px;
  height: 0;
}

.body-scrollable::-webkit-scrollbar-thumb {
  background-color: #f28e40;
}

.scrollable::-webkit-scrollbar {
  width: 4px;
  height: 0;
}

.scrollable:hover::-webkit-scrollbar-thumb {
  background-color: #f2a05e;
}

.scrollable.links-wrapper::-webkit-scrollbar {
  height: 4px;
}

.scrollable.links-wrapper:hover::-webkit-scrollbar-thumb {
  background-color: #fac791;
}

@media (max-width: 768px) {
  .scrollable.dropdown-items::-webkit-scrollbar-thumb {
    background-color: #f2a05e;
  }
}

/* left and right nav blurs for mobile screens */
.nav-blur {
  @apply absolute -top-2 bottom-0 w-3 h-full bg-mellow-apricot blur-sm z-10;
}

.nav-blur-left {
  @apply -left-1 md:hidden;
}

.nav-blur-right {
  @apply -right-1;
}

@media (min-width: 640px) {
  .nav-blur-right {
    @apply hidden;
  }
}

/* calculator screen & button container heights */
.display-container {
  min-height: calc(45vh - 16px);
}

.buttons-container {
  min-height: calc(55vh - 28px);
}

/* animation styles for expressions added to the history container */
.expressions-wrapper div {
  @apply scrollable flex flex-col md:block pr-1 md:pr-0 md:pb-1 text-right whitespace-nowrap max-h-48 md:max-h-full overflow-y-auto md:overflow-x-auto;
}

.expressions-enter-from {
  opacity: 0;
}

.expressions-enter-active {
  transition: all 0.3s ease-out;
}

.expressions-enter-to {
  opacity: 1;
}

.expressions-move {
  transition: all 0.3s ease;
}

/* dropdown styles */
.dropdown-container {
  @apply w-[90%] px-4 md:px-2 py-2 md:py-1 absolute left-1/2 -translate-x-1/2 flex justify-between items-center gap-4 text-4xl md:text-[40px] text-navajo-white cursor-pointer;
}

.top-dropdown {
  @apply top-20 sm:top-24 md:top-8 z-50;
}

.bottom-dropdown {
  @apply top-48 md:top-[100px] z-40;
}

.dropdown-container .result.active {
  @apply text-neon-carrot;
}
