/* import tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  *:focus {
    outline: none;
  }

  body {
    @apply font-viga bg-navajo-white text-liver body-scrollable;
  }

  .links-wrapper li a {
    @apply flex flex-col items-center gap-1 py-1 px-3 hover:bg-macaroni-and-cheese rounded-md duration-300;
  }

  .links-wrapper li a.router-link-exact-active {
    @apply bg-macaroni-and-cheese sm:hover:bg-mellow-apricot;
  }
}

@layer components {
  /* button styles */
  .btn {
    @apply relative md:py-2.5 w-full rounded-xl md:rounded-lg shadow-sm duration-200 overflow-hidden;
  }

  .btn-numbers {
    @apply bg-navajo-white outline outline-sandy-brown outline-2 -outline-offset-2;
  }

  .btn-operators {
    @apply bg-mellow-apricot;
  }

  .btn-equals {
    @apply bg-liver text-navajo-white;
  }

  .btn-clear {
    @apply bg-neon-carrot text-seal-brown;
  }

  .btn .circle {
    @apply absolute w-14 h-14 md:w-20 md:h-20 rounded-full;
    transform: translate(-50%, -50%) scale(0);
    animation: circleScaleUp 0.5s ease-out;
  }

  .btn.btn-numbers .circle {
    @apply bg-sandy-brown;
  }

  .btn.btn-operators .circle {
    @apply bg-mango-tango;
  }

  .btn.btn-clear .circle {
    @apply bg-navajo-white;
  }

  .btn.btn-equals .circle {
    @apply bg-sandy-brown;
  }
}

/* custom styles */
/* Button Ripple Effect */
@keyframes circleScaleUp {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

/* scrollbar styles */
.body-scrollable::-webkit-scrollbar {
  width: 6px;
  height: 0;
}

.body-scrollable::-webkit-scrollbar-thumb {
  background-color: #f28e40;
}

.scrollable::-webkit-scrollbar {
  width: 6px;
  height: 0;
}

.scrollable:hover::-webkit-scrollbar-thumb {
  background-color: #f2a05e;
}

.scrollable.links-wrapper::-webkit-scrollbar {
  height: 4px;
}

.scrollable.links-wrapper:hover::-webkit-scrollbar-thumb {
  background-color: #fac791;
}

@media (max-width: 768px) {
  .scrollable.dropdown-items::-webkit-scrollbar-thumb {
    background-color: #f2a05e;
  }
}

/* left and right nav blurs for mobile screens */
.nav-blur {
  @apply absolute -top-2 bottom-0 w-3 h-full bg-mellow-apricot blur-sm z-10;
}

.nav-blur-left {
  @apply -left-1 md:hidden;
}

.nav-blur-right {
  @apply -right-1;
}

@media (min-width: 640px) {
  .nav-blur-right {
    @apply hidden;
  }
}

/* calculator screen & button container heights */
.calculator-height {
  height: calc(100vh - 80px);
}

.display-container {
  height: calc(50% - 16px);
  @apply md:min-h-[160px] relative p-5 bg-liver text-sandy-brown rounded-xl overflow-x-hidden;
}

.display-container.math-calculator {
  @apply flex flex-col justify-end gap-2;
}

.display-container .bg-text {
  @apply absolute top-5 md:top-1/2 md:-translate-y-1/2 text-4xl sm:text-5xl md:text-7xl text-pearl-copper;
}

.buttons-container {
  height: 50%;
  @apply md:min-h-full grid grid-cols-4 grid-rows-4 gap-2 text-2xl mt-3;
}

.buttons-container.math-calculator {
  @apply grid-rows-5;
}

/* animation styles for expressions added to the history container */
.expressions-wrapper div {
  @apply scrollable flex flex-col md:block pr-1 md:pr-0 md:pb-1 text-right whitespace-nowrap max-h-48 md:max-h-full overflow-y-auto md:overflow-x-auto;
}

.expressions-enter-from {
  opacity: 0;
}

.expressions-enter-active {
  transition: all 0.3s ease-out;
}

.expressions-enter-to {
  opacity: 1;
}

.expressions-move {
  transition: all 0.3s ease;
}

/* dropdown styles */
.dropdown-container {
  @apply w-[90%] px-4 md:px-2 py-2 md:py-1 absolute left-1/2 -translate-x-1/2 flex justify-between items-center gap-2 md:gap-4 text-2xl sm:text-4xl text-navajo-white;
}

.top-dropdown {
  @apply top-14 sm:top-16 md:top-6 z-50;
}

.bottom-dropdown {
  @apply top-32 sm:top-40 md:top-24 z-40;
}

.dropdown-container .results-wrapper {
  @apply relative w-full text-right scrollable overflow-y-hidden overflow-x-auto cursor-pointer;
}

.dropdown-container .results-wrapper .result.active {
  @apply text-neon-carrot;
}

.dropdown-container .unit-name-wrapper {
  @apply absolute right-4 md:right-2 -bottom-0 md:-bottom-2 text-xs md:text-sm cursor-pointer;
}
